<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfcc.modules.oaBus.mapper.oaCalendarMapper">
    <insert id="saveCalendar">
          INSERT INTO oa_calendar (
            i_id,
            s_title,
            s_user_names,
            s_address,
            i_is_top,
            i_is_leader,
            i_remind_type,
            i_open_type,
            d_start_time,
            d_end_time,
            s_create_by,
            d_create_time,
            i_bus_model_id,
            i_bus_function_id,
            i_fun_data_id,
            task_user_id ,
            task_id,
            i_is_state
        )VALUES(
                NULL,
                #{sTitle},
                #{sUserNames},
                #{sAddress},
                #{iIsTop},
                #{iIsLeader},
                #{iRemindType},
                #{iOpenType},
                #{dStartTime},
                #{dEndTime},
                #{sCreateBy},
                #{dCreateTime},
                #{iBusModelId},
                #{iBusFunctionId},
                #{iFunDataId},
                #{taskUserId},
                #{taskId},
                #{state}
            )
    </insert>
    <update id="updateByIid" parameterType="com.cfcc.modules.oaBus.entity.oaCalendar">
         update oa_calendar c set
         c.s_title = #{sTitle},
         c.s_user_names = #{sUserNames},
         c.s_address =#{sAddress},
         c.i_is_top = #{iIsTop},
         c.i_is_leader =#{iIsLeader},
         c.i_remind_type = #{iRemindType},
         c.i_open_type = #{iOpenType},
         c.d_start_time = #{dStartTime},
         c.d_end_time = #{dEndTime},
         c.s_create_by = #{sCreateBy},
         c.d_create_time = #{dCreateTime},
         c.i_bus_model_id = #{iBusModelId},
         c.i_bus_function_id = #{iBusFunctionId},
         c.i_fun_data_id  = #{iFunDataId},
         c.i_is_state  = #{state},
         c.task_user_id  = #{taskUserId},
         c.task_id  = #{taskId}
         where c.i_id = #{iId};
    </update>
    <delete id="deleteByIid" parameterType="String">
         DELETE from oa_calendar where i_id = #{id}
    </delete>

    <select id="findById" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar where i_id = #{id}
    </select>
    <select id="countIsLeader" resultType="java.lang.Integer">
        select count(*) from oa_calendar
        <where>
            i_is_leader = 1 and i_is_state = 0 and
            s_user_names!=' ' and s_user_names is not null
            <if test="sAddress != '' and sAddress != null">
                and s_address = #{sAddress}
            </if>
            <if test="sTitle != '' and sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{sTitle}), '%')
            </if>
            <if test="iOpenType != '' and iOpenType != null">
                and i_open_type = #{iOpenType}
            </if>
            <if test="sCreateBy != '' and sCreateBy != null">
                and s_create_by = #{sCreateBy}
            </if>
            <if test="date != '' and date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d') &lt;= #{date} and  DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{date})
            </if>
            <if test="Strdate != '' and Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{Strdate}
            </if>
            <if test="Enddate != '' and Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{Enddate}
                )
            </if>
        </where>
    </select>
    <select id="countIsNoLeader" resultType="java.lang.Integer">
        select count(*) from oa_calendar
        <where>
            i_is_leader = 0 and i_is_state = 0  and s_user_names!=' '
             and s_user_names is not null
            <if test="sAddress != '' and sAddress != null">
                and s_address = #{sAddress}
            </if>

            <if test="sTitle != '' and sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{sTitle}), '%')
            </if>
            <if test="iOpenType != '' and iOpenType != null">
                and i_open_type = #{iOpenType}
            </if>
            <if test="sCreateBy != '' and sCreateBy != null">
                and s_create_by = #{sCreateBy}
            </if>
            <if test="date != '' and date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d') &lt;= #{date} and  DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{date})
            </if>
            <if test="Strdate != '' and Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{Strdate}
            </if>
            <if test="Enddate != '' and Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{Enddate}
                )
            </if>
        </where>
    </select>
    <!--我的日程的totle的个数-->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from oa_calendar
        <where>
             s_user_names!=' ' and s_user_names is not null
            <if test="sAddress != '' and sAddress != null">
               and   s_address = #{sAddress}
            </if>
            <if test="sTitle != '' and sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{sTitle}), '%')
            </if>
             <if test="sCreateBy != '' and sCreateBy != null">
                and s_create_by = #{sCreateBy}
            </if>
            <if test="iOpenType != '' and iOpenType != null">
                and i_open_type = #{iOpenType}
            </if>
            <if test="state != '' and state != null">
                and i_is_state = #{state}
            </if>
            <if test="date != '' and date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d') &lt;= #{date} and  DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{date})
            </if>
            <if test="Strdate != '' and Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{Strdate}
            </if>
            <if test="Enddate != '' and Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{Enddate}
                )
            </if>
        </where>
    </select>
    <!--我的日程-->
    <select id="findPage" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select c.* ,c.i_is_state as state from oa_calendar c INNER  JOIN  sys_user s
        <where>

            <if test="oaCalendar.sAddress != '' and oaCalendar.sAddress != null">
                c.s_address = #{oaCalendar.sAddress}
            </if>
            <if test="oaCalendar.sCreateBy != '' and oaCalendar.sCreateBy != null">
                and c.s_create_by = #{oaCalendar.sCreateBy}
            </if>
            <if test="oaCalendar.state != '' and oaCalendar.state != null">
                and c.i_is_state = #{oaCalendar.state}
            </if>
            <if test="oaCalendar.sTitle != '' and oaCalendar.sTitle != null">
                and c.s_title like CONCAT(CONCAT('%', #{oaCalendar.sTitle}), '%')
            </if>
            <if test="oaCalendar.iOpenType != '' and oaCalendar.iOpenType != null">
                and c.i_open_type = #{oaCalendar.iOpenType}
            </if>
            <if test="oaCalendar.date != '' and oaCalendar.date != null">
                and  (DATE_FORMAT(c.d_start_time,'%Y-%m-%d')  &lt;=  #{oaCalendar.date} and DATE_FORMAT(c.d_end_time,'%Y-%m-%d') &gt;= #{oaCalendar.date})
            </if>
            <if test="oaCalendar.Strdate != '' and oaCalendar.Strdate != null">
                and !(DATE_FORMAT(c.d_end_time,'%Y-%m-%d') &lt; #{oaCalendar.Strdate}
            </if>
            <if test="oaCalendar.Enddate != '' and oaCalendar.Enddate != null">
                or DATE_FORMAT(c.d_start_time,'%Y-%m-%d') &gt; #{oaCalendar.Enddate}
                )
            </if>
             and SUBSTRING_INDEX(c.s_user_names,',',1) = s.username
        </where>
        order by c.i_is_top desc ,s.show_order desc  ,d_create_time desc limit
        ${pageNo},${pageSize}
    </select>
    <select id="countIsWait" resultType="java.lang.Integer">
        select count(*) from oa_calendar
        <where>
            i_is_state = 1 and i_is_state = 0
            <if test="sAddress != '' and sAddress != null">
                and s_address = #{sAddress}
            </if>
            <if test="sTitle != '' and sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{oaCalendar.sTitle}), '%')
             </if>
            <if test="iOpenType != '' and iOpenType != null">
                and i_open_type = #{iOpenType}
            </if>
            <if test="sCreateBy != '' and sCreateBy != null">
                and s_create_by = #{sCreateBy}
            </if>
            <if test="date != '' and date != null">
                and  (d_start_time &lt;= #{date} and  d_end_time &gt;= #{date})
            </if>
            <if test="Strdate != '' and Strdate != null">
                and d_start_time &gt;= #{Strdate}
            </if>
            <if test="Enddate != '' and Enddate != null">
                and d_end_time &lt;= #{Enddate}
            </if>
        </where>
    </select>

    <!-- 领导的日程 -->
    <select id="findByLeader" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar INNER  JOIN  sys_user s
        <where>
             i_is_leader = 1 and i_is_state = 0

            <if test="oaCalendar.sAddress != '' and oaCalendar.sAddress != null">
                and s_address = #{oaCalendar.sAddress}
            </if>
            <if test="oaCalendar.sCreateBy != '' and oaCalendar.sCreateBy != null">
                and s_create_by = #{oaCalendar.sCreateBy}
            </if>
            <if test="oaCalendar.sTitle != '' and oaCalendar.sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{oaCalendar.sTitle}), '%')            </if>
            <if test="oaCalendar.iOpenType != '' and oaCalendar.iOpenType != null">
                and i_open_type = #{oaCalendar.iOpenType}
            </if>
            <if test="oaCalendar.date != '' and oaCalendar.date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d')  &lt;=  #{oaCalendar.date} and DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{oaCalendar.date})
            </if>
            <if test="oaCalendar.Strdate != '' and oaCalendar.Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{oaCalendar.Strdate}
            </if>
            <if test="oaCalendar.Enddate != '' and oaCalendar.Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{oaCalendar.Enddate}
                )
            </if>
            and SUBSTRING_INDEX(s_user_names,',',1) = s.username
        </where>
        order by i_is_top desc ,s.show_order desc  ,d_create_time desc limit
        ${pageNo},${pageSize}
    </select>
    <!-- 共享日程-->
    <select id="queryPageList" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar INNER  JOIN  sys_user s
        <where>
            i_is_leader = 0 and  i_is_state = 0
            <if test="oaCalendar.sAddress != '' and oaCalendar.sAddress != null">
                and s_address = #{oaCalendar.sAddress}
            </if>
            <if test="oaCalendar.sTitle != '' and oaCalendar.sTitle != null">
                and s_title like CONCAT(CONCAT('%', #{oaCalendar.sTitle}), '%')
            </if>
            <if test="oaCalendar.iOpenType != '' and oaCalendar.iOpenType != null">
                and i_open_type = #{oaCalendar.iOpenType}
            </if>
            <if test="oaCalendar.date != '' and oaCalendar.date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d')  &lt;=  #{oaCalendar.date} and DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{oaCalendar.date})
            </if>
            <if test="oaCalendar.Strdate != '' and oaCalendar.Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{oaCalendar.Strdate}
            </if>
            <if test="oaCalendar.Enddate != '' and oaCalendar.Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{oaCalendar.Enddate}
                )
            </if>
            and SUBSTRING_INDEX(s_user_names,',',1) = s.username
        </where>
        order by i_is_top desc ,s.show_order desc ,d_create_time desc limit ${pageNo},${pageSize}
    </select>
    <!--待办-->
    <select id="findWait" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar INNER  JOIN  sys_user s
        <where>
            i_is_state = 1
            <if test="oaCalendar.sCreateBy != '' and oaCalendar.sCreateBy != null">
                and s_create_by = #{oaCalendar.sCreateBy}
            </if>
            <if test="oaCalendar.iOpenType != '' and oaCalendar.iOpenType != null">
                and i_open_type = #{oaCalendar.iOpenType}
            </if>
            <if test="oaCalendar.date != '' and oaCalendar.date != null">
                and  (DATE_FORMAT(d_start_time,'%Y-%m-%d')  &lt;=  #{oaCalendar.date} and DATE_FORMAT(d_end_time,'%Y-%m-%d') &gt;= #{oaCalendar.date})
            </if>
            <if test="oaCalendar.Strdate != '' and oaCalendar.Strdate != null">
                and !(DATE_FORMAT(d_end_time,'%Y-%m-%d') &lt; #{oaCalendar.Strdate}
            </if>
            <if test="oaCalendar.Enddate != '' and oaCalendar.Enddate != null">
                or DATE_FORMAT(d_start_time,'%Y-%m-%d') &gt; #{oaCalendar.Enddate}
                )
            </if>
            and SUBSTRING_INDEX(s_user_names,',',1) = s.username
        </where>
        order by i_is_top desc ,s.show_order  desc limit
        ${pageNo},${pageSize}
    </select>
    <select id="getByIid" resultType="com.cfcc.modules.oaBus.entity.oaCalendar" parameterType="String">
         select c.* ,c.i_is_state as state from oa_calendar c where c.i_id = #{id}
    </select>
    <!--根据部门id查出他是什么角色-->
    <select id="findLeader" resultType="java.lang.String">
        select r.role_name from sys_user_role s INNER JOIN sys_role r where user_id=${drafterId} and s.role_id = r.id
    </select>
    <!--根据show_order 查出用户-->
    <select id="getByShowOrder" resultType="com.cfcc.modules.system.entity.SysUser">
         select * from sys_user where show_order = #{showOrder}
    </select>
    <!--根据部门id查处是不是分管部门的人-->
    <select id="getByUserId" resultType="java.lang.String">
        select i_id from sys_user_managedepts where s_user_id =#{id}
    </select>

    <select id="getDepartId" resultType="java.lang.String">
       select id from sys_depart  where org_code =(select org_code from sys_user   where  id = #{id})
    </select>
    <select id="getDepartIdList" resultType="java.lang.String">
       select dep_id from sys_user_depart where user_id=#{userNameId}
    </select>
    <select id="findMostUser" resultType="java.util.Map">
        select * from oa_busdata30 where i_bus_function_id = 107  and  s_title  is  not null  and s_title &lt;&gt; "" and i_id = #{id}
    </select>
    <select id="busFunctionList" resultType="com.cfcc.modules.oaBus.entity.BusFunction">
        SELECT i_id,i_bus_model_id,s_name  FROM oa_bus_function ORDER BY i_bus_model_id
    </select>
    <select id="selectPath" resultType="java.lang.String">
          select s_file_path from oa_file where s_table = 'oa_busdata30' and  i_table_id = #{id}
    </select>
    <select id="LinkList" resultType="java.util.Map">
          select * from oa_busdata30 where i_bus_function_id = 107 and i_is_display = 0 and  s_create_by = #{sCreateBy}
     </select>
    <select id="findMostUser1" resultType="java.util.Map">
         select * from oa_busdata30 where i_bus_function_id = 107  and  s_title  is  not null  and s_title &lt;&gt; "" and  s_create_by = #{sCreateBy}
    </select>
    <select id="selectName" resultType="java.lang.String">
         select s_file_name from oa_file where s_table = 'oa_busdata30' and  i_table_id = #{id}
    </select>
    <select id="findByTaskUserId" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar where task_user_id = #{taskUserId}
    </select>
    <!--APP查询任务中心的sql-->
    <select id="findList" resultType="java.util.Map">
        select c.* ,c.i_is_state as state from oa_calendar c
        <where>
            c.s_user_names  like CONCAT(CONCAT('%', #{oaCalendar.sUserNames}), '%')
            <if test="oaCalendar.sCreateBy != '' and oaCalendar.sCreateBy != null">
                and c.s_create_by = #{oaCalendar.sCreateBy}
            </if>
            <if test="oaCalendar.iOpenType != '' and oaCalendar.iOpenType != null">
                and c.i_open_type = #{oaCalendar.iOpenType}
            </if>
            <if test="oaCalendar.state != '' and oaCalendar.state != null">
                and c.i_is_state = #{oaCalendar.state}
            </if>
            <if test="oaCalendar.Strdate != '' and oaCalendar.Strdate != null">
                and CONVERT(c.d_start_time,char(20)) like '%'#{Strdate}'%'
            </if>
            <if test="oaCalendar.Enddate != '' and oaCalendar.Enddate != null">
                and CONVERT(c.d_end_time,char(20)) like '%'#{Enddate}'%'
            </if>

        </where>
          ORDER BY  c.d_create_time  desc limit
        ${pageNo},${pageSize}
    </select>
    <select id="findBybusDataId" resultType="com.cfcc.modules.oaBus.entity.oaCalendar">
        select * from oa_calendar c where c.i_fun_data_id = #{busDataId}  and c.s_create_by = #{userName}
    </select>
    <select id="appCount" resultType="java.lang.Integer">
        select  count(*) from oa_calendar c
        <where>
            c.s_user_names  like CONCAT(CONCAT('%', #{sUserNames}), '%')
            <if test="sCreateBy != '' and sCreateBy != null">
                and c.s_create_by = #{sCreateBy}
            </if>
            <if test="iOpenType != '' and iOpenType != null">
                and c.i_open_type = #{iOpenType}
            </if>
            <if test="state != '' and state != null">
                and c.i_is_state = #{state}
            </if>
            <if test="Strdate != '' and Strdate != null">
                and CONVERT(c.d_start_time,char(20)) like '%'#{Strdate}'%'
            </if>
            <if test="Enddate != '' and Enddate != null">
                and CONVERT(c.d_end_time,char(20)) like '%'#{Enddate}'%'
            </if>

        </where>
    </select>
</mapper>