<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfcc.modules.system.mapper.SysDepartMapper">

	<select id="queryUserDeparts" parameterType="String" resultType="com.cfcc.modules.system.entity.SysDepart">
	   select * from sys_depart where id IN ( select dep_id from sys_user_depart where user_id = #{userId} )
	</select>

	<select id="getById" resultType="com.cfcc.modules.system.entity.SysDepart">
		select * from sys_depart where id = #{id}
	</select>
    <select id="findUserDepartByDepart" resultType="java.lang.String">
		SELECT org_type from sys_depart WHERE id = #{departId}
	</select>
	<select id="findSysDepartByParentIdAndOrgType0" resultType="java.lang.String">
		<if test="DBvalue != null and DBvalue != ''">
			${DBvalue}
		</if>
		SELECT id from sys_depart
		  WHERE org_type = '1' AND parent_id IN ('','1')
	</select>
    <select id="getDepartIdById" resultType="java.util.Map">
		SELECT id AS deptId, parent_id AS parentId, org_type AS orgType FROM sys_depart WHERE id = #{parentId}
	</select>
    <select id="getUserDepartByUserId" resultType="java.util.Map">
		SELECT parent_id as parentId, depart_name as departName,org_type as orgType FROM sys_depart
		INNER JOIN sys_user_depart ON sys_user_depart.dep_id = sys_depart.id
		WHERE sys_user_depart.user_id = #{userId}
	</select>
</mapper>